:root {
    --dark: #1d1e18;
    --primary: #6b8f71;
    --secondary: #aad2ba;
    --light: #d9fff5;
    --special: #b9f5d8;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.main-content {
    margin: 20px 20px auto 20px;
}

.centered-div {
    text-align: center;
}

.header-1 {
    color: var(--dark);
    font-size: 3em;
    font-weight: 900;
}

.header-2 {
    color: var(--dark);
    font-size: 1.5em;
    font-weight: 750;
}

.header-3 {
    color: var(--dark);
    font-size: 1em;
    font-weight: 675;
}

a {
    color: var(--secondary);
}

a:hover {
    color: var(--light);
    text-decoration: none;
}

.tile {
    margin: 10px;
    padding: 10px;
    background-color: var(--primary);
    border: 4px solid var(--secondary);
    width: 30%;
    display: inline-block;
}

.transcript {
    font-style: italic;
    color: var(--dark);
}

.doc-img {
    max-height: 500px;
    color: var(--dark);
}

@media screen and (max-width: 600px) {
    .tile{
        width: 90%;
    }
}
