.nav-bg {
    background-color: var(--dark) !important;
}

.navlinks {
    background-color: var(--medium);
    font-size: 20px;
}

.drop-item {
    color: var(--dark);
    display: block;
}

.drop-item:hover {
    background-color: var(--light);
    text-decoration: none;
    color: var(--dark);
}
