.navlinks {
    background-color: var(--primary);
    padding: 10px;
    font-size: 20px;
}

.drop-item {
    color: var(--dark);
}

.drop-item:hover {
    color: var(--light);
    text-decoration: none;
}
