* {
    box-sizing: border-box;
}
  
.timeline {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}
  
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--dark);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
.container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}
  
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: var(--secondary);
    border: 4px solid var(--primary);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
.left {
    right: 25%;
}
  
.right {
    left: 25%;
}
  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--dark);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--dark);
}
  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--dark);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--dark) transparent transparent;
}
  
.right::after {
    left: -12px;
}
  
.content {
    padding: 20px 30px;
    background-color: var(--primary);
    position: relative;
    border-radius: 6px;
}
  
@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
  
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
  
    .container::before {
        left: 60px;
        border: medium solid var(--primary);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--primary) transparent transparent;
    }
  
    .left::after, .right::after {
        left: 18px;
    }
  
    .right {
        left: 0%;
    }
      
    .left {
        right: 0%
    }
}