{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/timeline.css' %}">
    <script>
        window.onload = function () {
            var timeline = document.getElementsByClassName('timeline')[0];
            var containers = timeline.getElementsByClassName('container');
            var direction = 'left';
            for (var i = 0; i < containers.length; i++) {
                containers[i].classList.add(direction);
                if (direction == 'left') {
                    direction = 'right';
                } else {
                    direction = 'left';
                }
            }
        }
    </script>
{% endblock %}

{% block main %}
    <p class='header-1'>Historical Context</p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miss Alice Deal was born during the Populist Period and lived through the Progressive Era and the New Era.  During her young life, Sitting Bull surrendered to United States troops in Montana (1881), lynchings of African Americans in the South were common, and President Chester Arthur signed the Chinese Exclusion Act into law (1882).  Plessy v. Ferguson, declaring segregation legal by the United State Supreme Court in 1896. 
        <br><br>
        Educationally,
        <ul>
            <li>In 1879 Manual Training Schools were opened:  https://www3.nd.edu/~rbarger/www7/manualtr.html  <em>---need to add in—McKinley was a manual training schoool</em></li>
            
            <li>In 1892 the secondary school curriculum was standardized by the National Education Association and the Committee of Ten.[1]  This Committee of Ten recommended eight years of elementary schooling and four years of secondary schooling.[2]  There were different curricula offered for high school, the traditional tracks of curricula rooted in the classics (Latin and Greek), as well as curricula that was more contemporary with modern language and English.  Both tracks offered foreign languages, math, science, English and history.[3]  The Committee of Ten served to bridge the divide between academic versus practical classes and courses.[4]<em>In other words what are the philosophies put forth by education reformers during this time?</em></li>
            
            <li>In 1897, the National Congress of Mothers, the prelude to the Parent Teacher Association was founded.[5]  Throughout the letters, there are numerous writings from The Parent Teacher Association of Columbia Junior High School, the junior high that Miss Alice Deal was principal of and who was very supportive of her.  Throughout this time period, Parent Teacher Associations provided input to the Board of Education, to principals, and also shared their views in newspapers.  Their meetings, for many DC schools, were widely advertised in the newspapers throughout Miss Alice Deal’s life.</li>
            
            <li>The Socialist Party of America was founded in 1901, the Women’s Trade Union League was started with the intention of improving better, fairer, working conditions for women from all classes, and the Supreme Court upheld laws that limited working hours for women in Muller v. Oregon (1908).  One hundred forty six, mostly women, died in the 1911 Triangular Shirtwaist Factory Fire in New York City.</li>
            
            <li>In 1905 the Carnegie Foundation for the Advancement of Teaching was founded and encouraged a standardization for measuring students’ learning time.[6]  This became known as a Carnegie Unit.</li>
            
            <li>The first female superintendent of a major school system was chosen by the Chicago Board of Education in 1909:  Ella Flagg Young.[7]  Ella Flagg Young studied under John Dewey for her doctoral dissertation for her education program at the University of Chicago.  Ella Flagg Young became president of the National Education Association a year later.[8]  While there is no documented evidence that Miss Alice Deal knew Ella Flagg Young, there is reference in 1907 that Miss Alice Deal was leaving her teaching position to pursue education work in Chicago.  The question is raised if Miss Alice Deal was considering an education program in Chicago or to work with Ella Flagg Young, but at this time there is no research to support this theory. Miss Alice Deal did not end up moving to Chicago because her mother died.</li>
            
            <li>That same year, 1909, the first junior high was created in Columbus, Ohio.[9]  Indianola Junior High School was conceived to prevent student dropouts in the eighth grade year by better meeting their needs.[10]  Miss Alice Deal was appointed principal of the first junior high in Washington, DC in September 1919.</li>
        </ul>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;During Miss Alice Deal’s time in Washington, DC, she saw race riots take place in 1919 as soldiers returned from World War I.[11]  She was living in the nation’s capital when the 19th Amendment was passed granting her, and all other women, the right to vote in the United States. <em>Again, only discuss events that we can better understand through her work and then take your time explaining them.  If you don't know then you can say that while we don't know how exactly WWI affected Deal, for typical Americans it affected them this way.  Did she have any brothers? If so, you might be able to find their draft cards or records of service on Ancestry.</em>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;President Woodrow Wilson was elected president in 1912 and inaugurated in 1913, serving two terms through to 1921.  During Wilson’s presidency, the world experienced The Great War, and the United States became involved in 1917.  The US experienced the 1918 Influenza Pandemic which spread throughout the world in 1918 and 1919, killing approximately 50 million people worldwide, and 675,000 people in the United States.[12]   Women pushed for the right to vote and gained it with the passage of the 19th Amendment in 1920. <em>Make sure you are transitioning between paragraphs so this reads less like a list.</em>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In 1916 the American Federation of Teachers (AFT) was founded.[13]  The AFT was particularly important in the 1920s, securing tenure laws and protecting freedom of speech and academic freedom of teachers who were investigated by the US government during the Red Scare.[14]  This directly coincides to Miss Alice Deal’s involvement as the High School Teachers’ Union president who advocated for, and represented, high school teacher Miss Alice Woods who was terminated for teaching about current events, particularly the Bolsheviks.  Miss Alice Woods case was eventually settled in the DC Supreme Court. <em>Ok so as the Union Rep she defended this woman?  Go into more detail. Why was her teaching a problem? What was Deal's involvement?</em>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A year later in 1917, vocational education received federal funding with the passage of the Sith-Hughes Act.[15]  Educational reformers saw this new emphasis on vocational skills as a way to implementing new teaching methods and a practice that incorporated active learning that “cultivated children’s interests.”[16]
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In 1920 Warren G. Harding was elected president.  Charles Lindbergh made history with his transatlantic flight and Amelia Earhart became the first woman to fly over the Atlantic Ocean.  However, Miss Alice Deal didn’t live to see Amelia Earhart’s accomplishment in 1932. 
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As Alice Deal Junior High was being conceived and constructed the October 29, 1929 Stock Market Crash occurred. When the junior high opened in 1931 the country was already in a depression.  
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Franklin D. Roosevelt was elected in 1932 and began to implement his New Deal plan.  While the Great Depression didn’t seem to have any impact in the building of the junior high, or its opening, it would have impacted the families who sent their students to the school and provided job security for the staff of the school.
    </p>
    <hr>
    <div class='timeline'>
        {% for doc in docs %}
            <div class='container'>
                <div class='content'>
                    <div class='centered-div'>
                        {% if doc.1 %}
                            <img class='tile_img' src='{{ doc.0.doc_pic.url }}'>
                        {% else %}
                            <img class='tile_img' src='{{ doc.0.doc_link.url }}'>
                        {% endif %}
                    </div>
                    <p class='header-1-5'>{{ doc.0.name }}</p>
                    <p class='header-2'>{% if doc.0.date %}{{ doc.0.date }}{% else %}n.d.{% endif %}</p>                    
                    <p><a href="{% url 'main:document' doc.0.id %}">Learn More</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
