{% extends "base.html" %}

{% load static %}

{% block main %}
    <div class='centered-div'>
        <p class='header-1'>The Life and Legacy of Alice Deal</p>
        <img src="{% static 'img/school.jpeg' %}">
    </div>
    <br>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miss Alice Deal’s name adorns a DC Public School in upper northwest Washington, DC today.  However, not much has been published about her or is known about her, even to the 1600 people who enter through the school’s doors each day.  Who was she?  What events led to a school being named in her honor?  What is the significance of her contributions to education then, and today?  Miss Alice Deal was a pioneer and social reformer in education for DC teachers and students at the turn of the 20th century as a teacher, a union leader, and a principal.  Miss Alice Deal entered the profession as a high school math teacher, became a Union leader for Washington teachers, started a public school summer program by raising her own funds, and ultimately was appointed the first junior high principal in Washington.  Shortly after her death at age 50, she had a new junior high in Northwest DC, named after her and her legacy in Washington DC’s education system.
    </p>
{% endblock %}