{% extends "base.html" %}

{% load static %}

{% block main %}
    <p class='header-1'>In Memoriam</p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;While a lot can be inferred about Miss Alice Deal’s character from the news articles of the time, perhaps none share as much as the letters, documents, and words spoken about Miss Alice Deal upon her death.  The Superintendent of schools at the April 4, 1928 Board of Education meeting gave a statement sharing the impact of Miss Alice Deal’s life on the DC Public School system, and concluded with, “She was a woman of fine mind, splendid and forceful character and will long be remembered as one of the great figures in the history of the Washington Public schools.”
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miss Alice Deal is buried at Saint Paul’s Evangelical Lutheran Church Cemetery, in Upperco, Maryland.[104]  She is buried near her parents, sister Flora, and her sister E. Grace. 
    </p>
    <hr>
    <div class='tile-container'>
        {% for doc in docs %}
            <div class='tile'>
                <div class='centered-div'>
                    {% if doc.doc_is_pdf %}
                        <img class='tile_img' src='{{ doc.doc_pic.url }}'>
                    {% else %}
                        <img class='tile_img' src='{{ doc.doc_link.url }}'>
                    {% endif %}
                </div>
                <p class='header-1-5'>{{ doc.name }}</p>
                <p class='header-2'>{% if doc.date %}{{ doc.date }}{% else %}n.d.{% endif %}</p>
                <p><a href="{% url 'main:document' doc.id %}">Learn More</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}