{% extends "base.html" %}

{% load static %}

{% block main %}
    <p class='header-1'>Biblography</p>
    <br><br>
    <p class='header-2'>Primary Sources</p>
    <iframe width='80%' height='2000' frameBorder='0' src='https://docs.google.com/document/d/e/2PACX-1vQi1cLy_Er0y0g0QM1IZYBaVsGt0QI1SXUgqpxr-rqQytAqipOZR5xBSDerMVJHYjJeXP6bS8KwK3HQ/pub?embedded=true'></iframe>    
    <br><br><br>
    <p class='header-2'>Secondary Sources</p>
    <iframe width='80%' height='800' frameBorder='0' src='https://docs.google.com/document/d/e/2PACX-1vQR4GSXBV9kkx8sw9ESeBhWNdaYbTCUiDrKVpaLxgwZyA15_7zeyx1LTGvCvRRBJPLJurXkg4wHHpWC/pub?embedded=true'></iframe>    
{% endblock %}