{% extends "base.html" %}

{% load static %}

{% block main %}
    <p class='header-1'>The School</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et venenatis purus. 
        Praesent maximus tincidunt magna et vulputate. Praesent a enim et magna hendrerit mollis. 
        Pellentesque id mollis dolor. In justo mi, euismod a neque ac, faucibus aliquam nisl. 
        Fusce facilisis ullamcorper lacus, ut blandit odio aliquet vel. Morbi scelerisque, diam 
        sed cursus condimentum, mauris metus mattis est, non dictum mauris enim quis mauris. Fusce 
        tellus risus, accumsan ut malesuada quis, blandit eu tortor. Etiam quis dolor sagittis, 
        hendrerit urna a, mattis felis. Donec sodales laoreet dolor, a mollis velit finibus quis. 
    </p>
    <hr>
    <div class='tile-container'>
        {% for doc in docs %}
            <div class='tile'>
                <div class='centered-div'>
                    {% if doc.1 %}
                        <img class='tile_img' src='{{ doc.0.doc_pic.url }}'>
                    {% else %}
                        <img class='tile_img' src='{{ doc.0.doc_link.url }}'>
                    {% endif %}
                </div>
                <p class='header-1-5'>{{ doc.0.name }}</p>
                <p class='header-2'>{% if doc.0.date %}{{ doc.0.date }}{% else %}n.d.{% endif %}</p>                
                <p><a href="{% url 'main:document' doc.0.id %}">Learn More</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}